@font-face {
  font-family: "Diodrum";
  src: url("../fonts/DiodrumCyrillic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Diodrum";
  src: url("../fonts/DiodrumCyrillic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Diodrum";
  src: url("../fonts/DiodrumCyrillic-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}
