.footer {
  &__img {
    padding: 0 9vw;
    width: 100%;
    height: 143px;

    @media(max-width: 970px) {
      padding: 0 3vw;
      height: 44px;
    }
  }

  &__text {
    padding-bottom: 14px;
    font-family: "Roboto", Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
  }

  &__main {
    padding: 0 9vw 80px;

    @media(max-width: 970px) {
      padding: 0 3vw;
    }
  }

  &__list {
    padding-left: 15px;
  }

  &__smallvw {
    @media(max-width:970px) {
      width: 100%;
      height: 59px;
      background: linear-gradient(90deg, #ee5100 0%, #f38200 100%);
    }
  }
}
